body{
    background-image: url("images/kelvin-whitehurst-PN75q0FGrCU-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.key{
    border-radius: 10px;
    background-color: transparent;
    color: rgb(238, 227, 227);
    padding: 30px;
    transition: all 0.07s;
    text-shadow: 0 0 5px black;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.keys{
    display: flex;
    justify-content: space-evenly;
    margin-top: 15%;
}
.playing{
transform: scale(1.1);
border-color: yellow;
box-shadow: 0 0 10px blue;
}
.sound{
    border-color: rgb(241, 241, 172);
    color: rgb(240, 240, 24);
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
}